@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import "./Components/ToolPanel/styles.scss";

form {
    margin:0em;
}
.ConfiguratorForm {margin-bottom:2em;}
div.field-array  div.field-array{
    background-color:#0000ff02;
}
.col-xs-3 { width: 20% }
