@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import "./Components/ToolPanel/styles.scss";

form {
    margin:0em;
}
.ConfiguratorForm {margin-bottom:2em;}
div.field-array  div.field-array{
    background-color:#0000ff02;
}
.array-item:nth-child(even)  .col-xs-9 { background: #00000004; padding: 1em}
